<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Big Droplet Energy</title>
	<link href="/css/index.css" rel="stylesheet" type="text/css">
	<link href="/css/font.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon"/>
</head>
<body>
	<div class="header">
		<ul class="header-list">
			<li><a href="/">home</a></li>
			<li class="divider">|</li>
			<li><a href="/data/technographics">technographics</a></li>
			<li class="divider">|</li>
			<li><a href="/data/errors">errors</a></li>
			<li class="divider">|</li>
			<li><a href="/data/performance">performance</a></li>
			<li class="divider">|</li>
			<li><a href="/user/profile">user profile</a></li>
		</ul>
	</div>
	<form action="/login-auth" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Sign Up"/>
    </div>
</form>
</body>
</html>

