body {
    margin: 0;
}

.main-content {
    text-align: center;
    height: 97vh;
    display: table;
    width: 100%;
}

.content {
    margin: 40px;
}

#center {
    margin-top: 20px; 
    vertical-align: middle;
}

#emoji {
    display: block;
    font-size: 100px;
}

#title {
    font-size: 60px;
}

#text {
    font-size: 20px;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 0 !important;
    padding: 0;
}

/* HEADER STYLES */

.header {
    background: #424242;
    padding: 20px;
}

.header-list {
    display: flex;
    justify-content: space-around;
}

.divider {
    color: #fff;
    opacity: 0.2;
}

.header-list li {
    display: inline-block;
    color: #fff;
}

.header-list a {
    color: #fff;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 1px;
}

.header-list a:hover {
    color: rgb(117, 207, 248);
}

/* table styles */
th, tr, td {
    border: 1px solid gray;
}
