<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Big Droplet Energy</title>
	<link href="/css/index.css" rel="stylesheet" type="text/css">
	<link href="/css/error.css" rel="stylesheet" type="text/css">
	<link href="/css/font.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon"/>
</head>
<body>
	<div class="header">
		<ul class="header-list">
            <li><a href="/">home</a></li>
            <li class="divider">|</li>
            <li><a href="/error">errors</a></li>
            <li class="divider">|</li>
            <li><a href="/random">random load</a></li>
            <li class="divider">|</li>
            <li><a href="/slow">slow load</a></li>
            <li class="divider">|</li>
            <li><a href="/interactive">interactive</a></li>
        </ul>
    </div>
    <div class="banner-container">
        <h2 class="banner-text">ERROR PAGE</h2>
    </div>
	<div class="content" >
        <h1>Lorem Ipsum</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industry's 
            standard dummy text ever since the 1500s, when an unknown 
            printer took a galley of type and scrambled it to make a 
            type specimen book. It has survived not only five centuries, 
            but also the leap into electronic typesetting, remaining 
            essentially unchanged. It was popularised in the 1960s with 
            the release of Letraset sheets containing Lorem Ipsum 
            passages, and more recently with desktop publishing software 
            like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <button onclick="Func()">
            Functional Button
        </button>
        <button onclick="rErr()">
            ReferenceError Button
        </button>
        <button onclick="eErr()">
            EvalError Button
        </button>
        <button onclick="rErr()">
            RangeError Button
        </button>
        <button onclick="sErr()">
            SyntaxError Button
        </button>
        <button onclick="tErr()">
            TypeError Button
        </button>
        <button onclick="uErr()">
            URIError Button
        </button>
        <p>Lorem Ipsum is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industry's 
            standard dummy text ever since the 1500s, when an unknown 
            printer took a galley of type and scrambled it to make a 
            type specimen book. It has survived not only five centuries, 
            but also the leap into electronic typesetting, remaining 
            essentially unchanged. It was popularised in the 1960s with 
            the release of Letraset sheets containing Lorem Ipsum 
            passages, and more recently with desktop publishing software 
            like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="footer">
            <ul class="header-list">
                <li><a href="/">home</a></li>
            </ul>
        </div>
    
    <script src="/js/collector.js"></script>
    <script>

	function Func() { 
            try {
                alert('button clicked');
            } catch(err) {
                console.log(err.message);
            }
        }

    function rErr() {
        aleart('button clicked!');
    }

    function sErr() {
        throw new SyntaxError("I'm a SyntaxError!");
    }

    function eErr() {
        for (var i = 0; i < 10; i++) {
            throw new EvalError("I'm an EvalError!");
        }
    }

    function rErr() {
        throw new RangeError("I'm an RangeError!");
    }

    function tErr() {
        throw new TypeError("I'm a TypeError!");
    }

    function uErr() {
        throw new URIError("I'm an URIError!");
    }
    </script>
</body>
</html>

