<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Big Droplet Energy</title>
	<link href="/css/index.css" rel="stylesheet" type="text/css">
	<link href="/css/font.css" rel="stylesheet" type="text/css">
	<link href="/css/slow.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon"/>
</head>
<body>
	<div class="header">
		<ul class="header-list">
			<li><a href="/">home</a></li>
			<li class="divider">|</li>
			<li><a href="/error">error page</a></li>
			<li class="divider">|</li>
			<li><a href="/random">random load</a></li>
			<li class="divider">|</li>
			<li><a href="/slow">slow load</a></li>
			<li class="divider">|</li>
			<li><a href="/interactiev">interactive page</a></li>
		</ul>
	</div>
	<img src="https://lorempixel.com/1920/1920/city/1">
	<img src="https://lorempixel.com/1920/1920/city/2">
	<img src="https://lorempixel.com/1920/1920/city/3">
	<img src="https://lorempixel.com/1920/1920/nightlife/1">
	<img src="https://lorempixel.com/1920/1920/nightlife/2">
	<img src="https://lorempixel.com/1920/1920/nightlife/3">
	<img src="https://lorempixel.com/1920/1920/abstract/1">
	<img src="https://lorempixel.com/1920/1920/abstract/2">
	<img src="https://lorempixel.com/1920/1920/abstract/3">
	<img src="https://lorempixel.com/1920/1920/people/1">
	<img src="https://lorempixel.com/1920/1920/people/2">
	<img src="https://lorempixel.com/1920/1920/people/3">
</body>
</html>

