<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Big Droplet Energy</title>
	<link href="/css/index.css" rel="stylesheet" type="text/css">
	<link href="/css/reporting.css" rel="stylesheet" type="text/css">
	<link href="/css/font.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon"/>
</head>
<body>
	<div class="header">
		<ul class="header-list">
			<li><a href="/">home</a></li>
			<li class="divider">|</li>
			<li><a href="/reporting/error">error page</a></li>
			<li class="divider">|</li>
			<li><a href="/reporting/random">random load</a></li>
			<li class="divider">|</li>
			<li><a href="/reporting/slow">slow load</a></li>
			<li class="divider">|</li>
			<li><a href="/reporting/form">form data</a></li>
		</ul>
	</div>
	<div class="content" >
		<table>
			<tr>
				<% for(var i=0; i < headers.length; i++) { %>
				<th><%= headers[i] %></th>
				<% } %>
			</tr>
			<% for(var i=0; i < data.length; i++) { %>
			<tr>
				<% for(var j=0; j < headers.length; j++) { %>
				<td><%= data[i][headers[j]] %></th>
					<% } %>
				</tr>
				<% } %>
			</table>
		</div>
		<div class="footer">
			<ul class="header-list">
				<li><a href="/">home</a></li>
			</ul>
		</div>

	</body>
	</html>

